/* Import Bulma to set variables */
@import "~bulma/sass/utilities/_all";

$body-family: "Inter", "Helvetica Neue", sans-serif;
$body-size: 16px;
$background: $white-bis;
$body-background-color: $white-bis;
$primary: #7f2aff;
$green: #4caf50;
$turquoise: $green;
$red: #ff5722;
$link: $primary;
$input-placeholder-color: $grey-light;
$grey-lightest: #eaeaea;

$colors: map-merge($colors, (
    "turquoise": ($green, $green-invert),
    "green": ($green, $green-invert),
    "success": ($green, $green-invert),
    "danger": ($red, $green-invert),
));

$menu-item-active-background-color: $white-bis;
$menu-item-active-color: $primary;

/* Buefy */
$modal-background-background-color: rgba(0, 0, 0, .30);
$speed-slow: 25ms !default;
$speed-slower: 50ms !default;

/* Import full Bulma and Buefy to override styles. */
// @import "~bulma";
@import "./buefy";

html, body {
  height: 100%;
}

ul.no, ol.no {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul, ol {
  padding: 0 0 0 15px;
}
  li {
    margin-bottom: 15px;
  }

.relative {
  position: relative;
}

.spinner.is-tiny {
  display: inline-block;
  height: 10px;
  width: 10px;
  position: relative;

  .loading-overlay {
    .loading-background {
      background: none;
    }
    .loading-icon::after {
      width: 10px;
      height: 10px;
      top: 0;
      left: 0;
      position: static;
    }
  }    
}

.box {
  box-shadow: 0 0 2px $grey-lighter;
  padding: 30px;
}

.page-header {
  margin-top: 45px;
}
.page-body {
  margin-top: 45px;
}

.navbar {
  box-shadow: 0 0 3px $grey-lighter;
}
.navbar-brand {
  padding: 10px;
  .logo img {
    max-width: 32px;
  }
}

/* Global notices */
.global-notices {
  margin-bottom: 30px;
}
.notification {
  padding: 10px 15px;
  border-left: 5px solid #eee;

  &.is-danger {
    background: $white-ter;
    color: $black;
    border-left-color: $red;
  }
  &.is-success {
    background: $white-ter;
    color: $black;
    border-left-color: $green;
  }
}

/* Modal */
.modal {
  z-index: 100;
}
.modal-card-head {
  display: block;
}
.modal .modal-card-foot {
  justify-content: flex-end;
}
.modal .modal-close.is-large {
  display: none;
}


/* Fix for input colours */
.button.is-primary {
  background: $primary;
  &:hover {
    background: darken($primary, 15%);
  }
  &:disabled {
    background: $grey-light;
  }
}

.autocomplete .dropdown-content {
  background-color: $white-ter;
}

.input, .taginput .taginput-container.is-focusable, .textarea {
  box-shadow: inset 2px 2px 0px $white-ter;
}

/* Form fields */
.field {
  &:not(:last-child) {
    margin-bottom: 2rem;
  }

  .control {
    position: relative;

    .help.counter {
      position: absolute;
      top: -20px;
      right: 0;
    }
  }

  label {
    color: $grey;
  }

  .help {
    color: $grey-light;
  }
}
.has-numberinput .field, .field.is-grouped {
  margin-bottom: 0;
}

/* Tabs */
.b-tabs .tab-content {
  padding-top: 2rem;
}

/* Vue animations */
.slide-enter-active, .slide-leave-active {
  transition: opacity 50ms;
  max-height: none;
}
.slide-enter, .slide-leave-to {
  transition: opacity 50ms;
  opacity: 0;
  max-height: none;
}
.slide-leave-active, .slide-leave-to {
  transition: none;
  display: none;  
}


/* Toasts */
.notices {
  @keyframes scale {
    0% {
      scale: 1;
    }
    50% {
      scale: 1.3;
    }
    100% {
      scale: 1;
    }
  }
  .toast {
    animation: scale 300ms ease-in-out;
  }
}

/* Search */
.defs {
  margin-left: 30px;
}
  .defs li:hover {
    background: $white-bis;
  }

@media screen and (max-width: 1023px) {
  html, body {
    overflow-x: auto;
  }

  #app .main {
    margin-left: 5px;
    padding: 30px 20px 30px 20px;
  }
}
