{{- define "header" -}}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>
    {{- if eq .Data.PageName "/" }}Welcome to the dictionary.
    {{- else if eq .Data.PageName "glossary" }}Glossary of words
    {{- else if eq .Data.PageName "search" }}"{{ .Data.Query.Query }}" meaning
    {{- else if ne .Data.Title "" }}{{ .Data.Title }}
    {{- else }}{{ block "title" . }}{{end}}
    {{- end -}}
  </title>
  <meta name="description" value="
    {{- if eq .Data.PageName "/" }}Dictionary website
    {{- else if eq .Data.PageName "glossary" }}Glossary of words.
    {{- else if eq .Data.PageName "search" }}{{ .Data.Query.Query }} meaning.
    {{- else if ne .Data.Description "" }}{{ .Data.Description }}
    {{- else }}{{ block "description" . }}{{end}}
    {{- end -}}" />
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
	
	<link rel="shortcut icon" href="static/favicon.png" type="image/x-icon" />
  <link href="/static/flexit.css" rel="stylesheet" type="text/css" />
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="{{ if eq .Data.PageName "/"}}home{{ end }}">
  <div class="container wrap box">
    <header class="header">
      <div class="row">
        <div class="logo four columns">
          <a href="/"><img src="/static/logo.svg" alt="Dictionary logo" /></a>
          <div class="intro">
            <p>Welcome to the dictionary website</p>
          </div>
        </div><!-- logo col -->

        <div class="search eight columns">
          <form class="search-form" method="get" action="/dictionary/english/italian">
            <div>
              <input autofocus autocomplete="off" required placeholder=""
                type="text" id="q" name="q" value="{{ if .Data.Query }}{{ .Data.Query.Query }}{{ end }}" />
              <button type="submit"><img src="/static/search.svg" alt="Search" /></button>
            </div>
          </form>
        </div>
      </div>
    </header>
{{ end}}

{{ define "footer" }}
    <nav class="nav">
      <a href="/glossary/english/italian/a">Glossary</a>
      <a href="/submit">Submit new</a>
      <a href="/pages/about">About</a>
    </nav>
  </div>
  <footer class="footer">
    <a href="https://dict.press">Powered by dictpress</a>
  </footer>
  <script src="/static/main.js"></script>

  <form class="box form-comments">
  <div>
    <h3>Comments and suggestions</h3>
    <textarea name="comments" autofocus maxlength="500"></textarea>
    <p>
      <button type="submit">Submit for review</button>
      <button type="submit" class="button-outline close">Close</button>
    </p>
  </div>
  </form>
</body>

</html>
{{ end }}