{% if not glossary.words or glossary.words | length == 0 %}
    <h2>{{ i18n.public_noResultsTitle | default(value="No results") }}</h2>
    <p>{{ i18n.public_noResults | default(value="No results were found.") }}</p>
{% else %}
    <ul class="noul words">
        {% for w in glossary.words %}
            <li><a href="{{ consts.root_url }}/dictionary/{{ glossary.from_lang | urlencode }}/{{ glossary.to_lang | urlencode }}/{{ w.content.0 | urlencode }}">{{ w.content | join(sep=", ") }}</a></li>
        {% endfor %}
    </ul>
{% endif %}
