{{ define "glossary" }}
{{ template "header" . }}

<section class="content glossary">
    {{ if not .Data.Initials }}
        <h2>{{ .L.T "public.glossaryTitle" }}</h2>
        <p>{{ .L.T "public.noResults" }}</p>
    {{ else }}
        <nav class="index">
            {{ range $k, $a := .Data.Initials }}
            <a href="{{ UnicodeURL $a }}"{{ if eq $a $.Data.Initial }} class="sel"{{ end }}>{{ $a }}</a>
            {{ end }}
        </nav>

        <nav class="pagination top">{{ .Data.PgBar }}</nav>
        {{ template "glossary-words" . }}
        <nav class="pagination bottom">{{ .Data.PgBar }}</nav>
    {{ end}}
</section>

{{ template "footer" . }}
{{ end }}