{% extends "base.html" %}

{% block content %}
<section class="stats align-center" aria-label="Statistics">
  <ul class="unstyled hstack justify-center">
  {%- for lang_code, count in consts.stats.languages -%}
    {%- set lang_name = langs[lang_code].name -%}
    <li>
        <strong>{{ count }}</strong> {{ lang_name }}
        {{ t(key="public.statsEntries") }},
    </li>
  {%- endfor -%}

  <li><strong>{{ consts.stats.relations }}</strong> {{ t(key="public.statsDefs") }}</li>
  </ul>
</section>
{% endblock %}
