<!DOCTYPE html>
<html lang="en" data-theme="light">
<head>
	<title>{{ title }}{% if title %} |{% endif %} DictPress</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" type="text/css" href="/admin/static/pico.min.css">
	<link rel="stylesheet" type="text/css" href="/admin/static/style.css?v={{ asset_ver }}">
	<link rel="shortcut icon" href="/admin/static/favicon.png?v={{ asset_ver }}" type="image/x-icon" />

	<script>window._ROOT_URL = "";</script>
	<script defer src="/admin/static/main.js?v={{ asset_ver }}"></script>
	<script defer src="/admin/static/alpine.js?v={{ asset_ver }}"></script>

	{% for asset in consts.admin_css_assets %}
	<link rel="stylesheet" type="text/css" href="{{ asset }}">
	{% endfor %}
	{% for asset in consts.admin_js_assets %}
	<script defer src="{{ asset }}"></script>
	{% endfor %}
</head>
<body x-init="onLoad()" x-data="globalComponent()">
<template x-if="ready">
	<div class="admin-shell">
		<aside class="admin-sidebar">
			<header class="logo">
				<a href="/admin">
					<img src="/admin/static/logo.svg?v={{ asset_ver }}" alt="DictPress" />
				</a>
			</header>

			<nav>
				<ul>
					<li><a href="/admin"><img class="icon icon-primary" src="/admin/static/home.svg?v={{ asset_ver }}" alt="" /> Dashboard</a></li>
					<li><a href="#" @click.prevent="onNewEntry"><img class="icon icon-primary" src="/admin/static/add.svg?v={{ asset_ver }}" alt="" /> New Entry</a></li>
					<li><a href="/admin/pending"><img class="icon icon-primary" src="/admin/static/list.svg?v={{ asset_ver }}" alt="" /> Pending</a></li>
				</ul>
			</nav>

			<footer>
				<small><a href="https://dict.press">DictPress</a> <span x-text="config.version"></span></small>
			</footer>
		</aside>

		<main class="admin-main container-fluid">
			<nav aria-label="Search" class="admin-search">
				<form role="search" action="/admin/search" x-data="searchFormComponent()" @submit="onSearch">
					<select name="from_lang" x-model="fromLang" aria-label="Language">
						<option value="*id">ID</option>
						<template x-for="[id, l] in Object.entries(config.languages)" :key="id">
							<option :value="id" x-text="l.name" x-bind:selected="id === fromLang"></option>
						</template>
					</select>
					<input type="search" name="query" x-model="query" placeholder="Search entries..." required />
					<button type="submit" x-bind:aria-busy="loading['entries.search'] === true">Search</button>
				</form>
			</nav>

			{% block content %}{% endblock %}
		</main>

		{% include "admin/entry.html" %}
	</div>
</template>
</body>
</html>
