{{ define "header" }}
<!DOCTYPE html>
<html lang="en">
<head>
	<title>{{ .Title }} {{ if .Title }}|{{ end}} DictPress</title>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" type="text/css" href="{{ .Consts.RootURL }}/admin/static/grid.css?v={{ .AssetVer }}">
	<link rel="stylesheet" type="text/css" href="{{ .Consts.RootURL }}/admin/static/style.css?v={{ .AssetVer }}">
	<link rel="shortcut icon" href="{{ .Consts.RootURL }}/admin/static/favicon.png?v={{ .AssetVer }}" type="image/x-icon" />

	<script>window._ROOT_URL = "{{ .Consts.RootURL }}";</script>
	<script defer src="{{ .Consts.RootURL }}/admin/static/main.js?v={{ .AssetVer }}"></script>
	<script defer src="{{ .Consts.RootURL }}/admin/static/alpine.js?v={{ .AssetVer }}"></script>

	{{ range $j := .Consts.AdminAssets -}}
		{{- if (hasSuffix ".js" $j) -}}
			<script defer src="{{ $j }}?v={{ $.AssetVer }}"></script>
		{{- else if (hasSuffix ".css" $j) -}}
			<link rel="stylesheet" type="text/css" href="{{ $j }}?v={{ $.AssetVer }}">
		{{- end }}
	{{ end }}
</head>
<body x-init="onLoad()" x-data="globalComponent()">
<template x-if="ready">
	<div class="container wrap">
		<header class="header">
			<div class="row">
				<div class="three columns logo">
					<a href="{{ .Consts.RootURL }}/admin"><img src="{{ .Consts.RootURL }}/admin/static/logo.svg?v={{ .AssetVer }}" alt="logo" /></a>
					<template x-if="Object.keys(loading).length > 0"><span class="loading"></span></template>
				</div>
				<nav class="eight columns nav">
					<a href="" @click.prevent="onNewEntry">Add new</a>
					<a href="{{ .Consts.RootURL }}/admin/pending">Pending</a>
				</nav>
			</div>
		</header>

		<form class="search" action="{{ .Consts.RootURL }}/admin/search" x-data="searchFormComponent()" @submit="onSearch">
			<fieldset class="row">
				<div class="column four">
	    			<select name="from_lang" x-model="fromLang">
	    				<option value="*id">*ID</option>
					    <template x-for="[id, l] in Object.entries(config.languages)" :key="id">
					      <option :value="id" x-text="l.name" x-bind:selected="id === fromLang"></option>
					    </template>
	    			</select>
	    		</div>
				<div class="column six">
	    			<input type="text" name="query" x-model="query" placeholder="Search" required autofocus="true" />
	    		</div>
				<div class="column two">
	    			<button class="button" type="submit" x-bind:disabled="loading['entries.search'] === true">Search</button>
	    		</div>
			</fieldset>
		</form>

{{ end }}

{{ define "footer" }}
	{{ template "entry" . }}
	</div>
</template>
<footer class="footer">
	<a href="https://dict.press">
		DictPress <span x-text="config.version"></span>
	</a>
</footer>
</body>
</html>
{{ end }}
