{% extends "admin/base.html" %}

{% block content %}
<section x-data="homeComponent()" x-init="onLoad">
    <hgroup>
        <h2>Dashboard</h2>
    </hgroup>

    <template x-if="stats">
        <div class="grid">
            <article class="stat-card">
                <data x-text="formatNumber(stats.entries)"></data>
                <small>Entries</small>
            </article>
            <article class="stat-card">
                <data x-text="formatNumber(stats.relations)"></data>
                <small>Definitions</small>
            </article>
            <article>
                <header>Languages</header>
                <table role="grid">
                    <tbody>
                        <template x-for="[l, num] in Object.entries(stats.languages)" :key="l">
                            <tr>
                                <td x-text="config.languages[l].name"></td>
                                <td x-text="formatNumber(num)"></td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </article>
        </div>
    </template>
</section>
{% endblock %}
