{% extends "admin/base.html" %}

{% block content %}
<section x-data="searchResultsComponent('pending')" x-init="onLoad" @search.window="onSearch" class="entries">
    <template x-if="!id && loading['entries.search'] !== true">
        <hgroup>
            <h2><span x-text="total"></span> pending entries</h2>
            <template x-if="total > 0">
                <a href="#" class="button outline contrast" @click.prevent="onClearPending()">Clear all</a>
            </template>
        </hgroup>
    </template>
    <template x-if="loading['entries.search'] === true">
        <div class="spinner"></div>
    </template>

    <template x-for="e in entries" :key="e.id">
        <article class="card">
            <header>
                <hgroup>
                    <h3>
                        <template x-if="e.status === 'pending'"><mark>New</mark></template>
                        <a href="#" @click.prevent="onEditEntry(e)">
                            <template x-for="(item, idx) in e.content" :key="idx">
                                <span><span x-text="item"></span><span x-show="idx < e.content.length - 1">, </span></span>
                            </template>
                        </a>
                        <template x-if="e.phones.length > 0">
                            <div class="phones">♪ <em x-text="e.phones.join(', ')"></em></div>
                        </template>
                    </h3>
                    <span x-text="config.languages[e.lang].name" class="tag"></span>
                </hgroup>
                <nav class="hstack">
                    <a href="#" @click.prevent="onEditEntry(e)" class="icon-link"><img class="icon icon-primary" src="/admin/static/edit.svg?v={{ asset_ver }}" alt="" /> Edit</a>
                    <a href="#" @click.prevent="onDeleteEntry(e.id)" class="icon-link"><img class="icon icon-primary" src="/admin/static/delete.svg?v={{ asset_ver }}" alt="" /> Delete</a>
                </nav>
            </header>

            <template x-if="e.id in comments && 'null' in comments[e.id]">
                <template x-for="(c, n) in comments[e.id]['null']" :key="c.id">
                    <blockquote class="comment">
                        <strong>User comment:</strong>
                        <div x-text="c.comments"></div>
                        <footer>
                            <button class="outline secondary small" @click.prevent="onClearComments(c.id)">Clear</button>
                        </footer>
                    </blockquote>
                </template>
            </template>

            <ol class="definitions-list">
                <template x-for="(r, n) in e.relations" :key="r.id">
                    <li class="definition-row" :class="{ 'is-reordered': order[e.id] && order[e.id].changedRels[r.id] }">
                        <div>
                            <div class="meta secondary">
                                <template x-if="r.status === 'pending'"><mark>New</mark></template>
                                <template x-if="r.relation.status === 'pending'"><ins>Pending</ins></template>
                                <span x-text="config.languages[r.lang].name" class="tag"></span>
                                <span x-text="(r.relation.types ? ' · ' + r.relation.types : '')"></span>
                            </div>
                            <p>
                                <template x-for="(item, idx) in r.content" :key="idx">
                                    <span><span x-text="item"></span><span x-show="idx < r.content.length - 1">, </span></span>
                                </template>
                            </p>
                        </div>
                        <template x-if="e.id in comments && r.id in comments[e.id]">
                            <template x-for="(c, n) in comments[e.id][r.id]" :key="c.id">
                                <blockquote class="comment">
                                    <strong>User comment:</strong>
                                    <div x-text="c.comments"></div>
                                    <footer>
                                        <button class="outline secondary small" @click.prevent="onClearComments(c.id)">Clear</button>
                                    </footer>
                                </blockquote>
                            </template>
                        </template>
                        <nav class="def-actions">
                            <a href="#" @click.prevent="onEditEntry(r, e)" class="icon-link"><img class="icon icon-primary" src="/admin/static/edit.svg?v={{ asset_ver }}" alt="" /> Edit definition</a>
                            <a href="#" @click.prevent="onEditRelation(r, e)" class="icon-link"><img class="icon icon-primary" src="/admin/static/edit.svg?v={{ asset_ver }}" alt="" /> Edit relation</a>
                            <a href="#" @click.prevent="onDetatchRelation(e.id, r.relation.id)" class="icon-link"><img class="icon icon-primary" src="/admin/static/link.svg?v={{ asset_ver }}" alt="" /> Detach relation</a>
                            <a href="#" @click.prevent="onDeleteRelationEntry(r.id)" class="icon-link"><img class="icon icon-primary" src="/admin/static/delete.svg?v={{ asset_ver }}" alt="" /> Delete</a>
                            <menu class="buttons">
                                <button class="outline secondary" @click.prevent="onReorderRelation(e, r, n, -1)">&uarr;</button>
                                <button class="outline secondary" @click.prevent="onReorderRelation(e, r, n, 1)">&darr;</button>
                            </menu>
                        </nav>
                    </li>
                </template>
            </ol>

            <footer>
                <a href="#" class="button outline" @click.prevent="onAddDefinition(e)">+ Add definition</a>
                <template x-if="order[e.id]">
                    <div class="group">
                        <button class="secondary" @click.prevent="onResetRelationOrder(e)">Reset</button>
                        <button @click.prevent="onSaveRelationOrder(e)">Save order</button>
                    </div>
                </template>
                <template x-if="!(e.id in comments)">
                    <div class="group">
                        <button @click.prevent="onApproveSubmission(e.id)">Approve all</button>
                        <button class="secondary" @click.prevent="onRejectSubmission(e.id)">Reject all</button>
                    </div>
                </template>
            </footer>
        </article>
    </template>
</section>

{% include "admin/relation.html" %}
{% include "admin/definition.html" %}
{% endblock %}
