{{ define "search" }}
{{ template "header" . }}

<section x-data="searchResultsComponent('search')" x-init="onLoad" @search.window="onSearch">
    <template x-if="!id && loading['entries.search'] !== true">
        <h3><span x-text="total"></span> results for &ldquo;<span x-text="query"></span>&rdquo;</h3>
    </template>
    <template x-if="loading['entries.search'] === true">
        <span class="loading"></span>
    </template>

    <ol class="entries">
        <template x-for="e in entries" :key="e.id">
            <li class="entry box">
                <div class="float-right actions">
                    <a x-bind:href="makeURL({id: e.id})" @click.prevent="onEditEntry(e)">Edit</a>
                    <a href="#" @click.prevent="onDeleteEntry(e.id)">Delete</a>
                </div>

                <div class="heading">
                    <h3>
                        <a x-bind:href="makeURL({id: e.id})" @click.prevent="onEditEntry(e)" x-text="e.content"></a>
                    </h3>
                    <sup class="lang" x-text="config.languages[e.lang].name"></sup>
                </div>
                <div class="phones">♪ <span class="pronun" x-text="e.phones.join(', ')"></span></div>

                <ol class="relations">
                    <template x-for="(r, n) in e.relations" :key="r.id">
                        <li class="rel" :class="{ highlight: order[e.id] && order[e.id].changedRels[r.id] }">
                            <p>
                                <span class="meta lang" x-text="config.languages[r.lang].name"></span>
                                <span class="meta types" x-text="r.relation.types"></span> <span x-text="r.content" class="content"></span>
                            </p>
                            <div class="actions">
                                <a href="#" @click.prevent="onDetatchRelation(e.id, r.relation.id)">Detatch</a>
                                <a x-bind:href="`${_urls.admin}/entries/${r.id}?parent=${e.id}`" @click.prevent="onEditRelation(r, e)">Edit relation</a>
                                <a x-bind:href="`${_urls.admin}/entries/${r.id}?parent=${e.id}`" @click.prevent="onEditEntry(r, e)">Edit entry</a>
                                <a x-bind:href="`${_urls.admin}/entries/${r.id}?parent=${e.id}`" @click.prevent="onDeleteRelationEntry(r.id)">Delete entry</a>
                                <span>
                                    <a href="#" @click.prevent="onReorderRelation(e, r, n, -1)" title="Move up">&uarr;</a>
                                    <a href="#" @click.prevent="onReorderRelation(e, r, n, 1)" title="Move down">&darr;</a>
                                </span>
                            </div>
                        </li>
                    </template>
                </ol>
                <p><a href="" @click.prevent="onAddDefinition(e)">+ Add definition</a> 
                <template x-if="order[e.id]">
                    <div class="float-right">
                        <button class="button-outline" @click.prevent="onResetRelationOrder(e)">Reset</button>
                        <button class="button" @click.prevent="onSaveRelationOrder(e)">Save order</button>
                    </div>
                </template>
                <div class="clearfix"></div>
            </li>
        </template>
    </ol>
</section>

{{ template "relation" . }}
{{ template "definition" . }}

{{ template "footer" . }}
{{ end}}
